/* 
    Created on : 7-apr-2015, 17:47:40
    Author     : mkslofstra, also used by aroetters
    Purpose: the styling of the whole page by the developers
*/
html,
body {
    margin:0;
    padding:0;
    height:100%;
}
body{
    position: relative;
}
#logo h1{font-family:  'Hoefler Text', Georgia, 'Times New Roman', serif;
         font-weight: normal;
         font-size: 3em;
         letter-spacing: .2em;
         line-height: 1.9em;
         margin:0px;
         text-align: center;
         text-transform: uppercase;
         -webkit-mask-image: -webkit-linear-gradient(top, rgba(0,0,0,1), rgba(0,0,0,.5) 50%, rgba(0,0,0,1));
         -webkit-mask-image: linear-gradient(top, rgba(0,0,0,1), rgba(0,0,0,.5) 50%, rgba(0,0,0,1));
         width: 100%;
         border-top-left-radius: 20px;
         border-top-right-radius: 20px;
}
/*the head of the page with the logo*/
#logo{
    background: rgb(160,216,239); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(160,216,239,1) 0%, rgba(221,241,249,1) 65%, rgba(206,206,206,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(160,216,239,1)), color-stop(65%,rgba(221,241,249,1)), color-stop(100%,rgba(206,206,206,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(160,216,239,1) 0%,rgba(221,241,249,1) 65%,rgba(206,206,206,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(160,216,239,1) 0%,rgba(221,241,249,1) 65%,rgba(206,206,206,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(160,216,239,1) 0%,rgba(221,241,249,1) 65%,rgba(206,206,206,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(160,216,239,1) 0%,rgba(221,241,249,1) 65%,rgba(206,206,206,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a0d8ef', endColorstr='#cecece',GradientType=0 ); /* IE6-9 */
    width:75%;
    margin-left:12.5%;
    max-width: 100em;
    margin-bottom:-2em;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-style: ridge;
    border-color: #9acfea;
    margin-top: 3em;
}
h2{font-family:  'Hoefler Text', Georgia, 'Times New Roman', serif;
   font-weight: normal;
   font-size: 1.75em;
   letter-spacing: .2em;
   line-height: 1.1em;
   margin:0px;
   text-align: center;
   text-transform: uppercase;
   padding:1em;
}
h2 small{
    text-align: center;
    text-transform: uppercase;
    -webkit-mask-image: -webkit-linear-gradient(top, rgba(0,0,0,1), rgba(0,0,0,.5) 50%, rgba(0,0,0,1));
    -webkit-mask-image: linear-gradient(top, rgba(0,0,0,1), rgba(0,0,0,.5) 50%, rgba(0,0,0,1));
}
/*the searchbar itself*/
#search-symptom{
    border-radius: 5px;
    border-color: silver;
    color: grey;
    padding-left: 1em;
    padding-right: 2.5em;
    width: 20em;

}
/*the div in which is the searchbar*/
#search-bar{
    float: right;    
}
/*the div with the tree and search bar*/
#search{
    border-right-style: ridge;
    border-color: #9acfea;
    padding:2em;
    margin-top:-2.2em;
    height: 100%;
    padding-bottom: 5em;
    margin-left: -1.05em;
    width:50%;
    margin-bottom:5em;
    margin-top:-0.1em;
    overflow: auto;
}
/*the div with the results*/
#result{
    height: 100%;
    padding:2em;
    padding-bottom: 5em;
    width:50%;
    margin-bottom:5em;
    list-style-type: none;
    overflow: auto;

}
/*the color of the label in the results*/
.label{
    color: grey !important;
}
/*the pipe sign in the footer*/
.pipe{
    color:#9acfea;
}
/*the title of the results*/
.clickUp:hover{
    font-weight: bold !important;
    cursor: pointer !important;
    color: #666666 !important;
}
.clickUp {
    color:grey !important;
}
#footer{
    padding:1em;
    background: rgb(160,216,239); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(160,216,239,1) 0%, rgba(221,241,249,1) 65%, rgba(206,206,206,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(160,216,239,1)), color-stop(65%,rgba(221,241,249,1)), color-stop(100%,rgba(206,206,206,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(160,216,239,1) 0%,rgba(221,241,249,1) 65%,rgba(206,206,206,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(160,216,239,1) 0%,rgba(221,241,249,1) 65%,rgba(206,206,206,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(160,216,239,1) 0%,rgba(221,241,249,1) 65%,rgba(206,206,206,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(160,216,239,1) 0%,rgba(221,241,249,1) 65%,rgba(206,206,206,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a0d8ef', endColorstr='#cecece',GradientType=0 ); /* IE6-9 */
    position:absolute;
    bottom:0;
    height: 5em;
    width: 100%;
    margin-left: -1.07em;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-style: ridge;
    border-color: #9acfea;
}
/*the copyright text in the footer*/
#copyright{
    float:right;
    color:grey !important;
}
#search-button{
    float:right;
    margin-top: 5em;
}
/*the content on the background*/ 
#wrapper{
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-style: ridge;
    border-color: #9acfea;
    width:75%;
    margin-left:12.5%;
    margin-bottom: 3em;
    height: 100%;
    max-width: 100em;
    background: rgb(226,226,226); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 33%, rgba(219,219,219,1) 34%, rgba(219,219,219,1) 34%, rgba(254,254,254,1) 62%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(226,226,226,1)), color-stop(33%,rgba(219,219,219,1)), color-stop(34%,rgba(219,219,219,1)), color-stop(34%,rgba(219,219,219,1)), color-stop(62%,rgba(254,254,254,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(226,226,226,1) 0%,rgba(219,219,219,1) 33%,rgba(219,219,219,1) 34%,rgba(219,219,219,1) 34%,rgba(254,254,254,1) 62%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(226,226,226,1) 0%,rgba(219,219,219,1) 33%,rgba(219,219,219,1) 34%,rgba(219,219,219,1) 34%,rgba(254,254,254,1) 62%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(226,226,226,1) 0%,rgba(219,219,219,1) 33%,rgba(219,219,219,1) 34%,rgba(219,219,219,1) 34%,rgba(254,254,254,1) 62%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(226,226,226,1) 0%,rgba(219,219,219,1) 33%,rgba(219,219,219,1) 34%,rgba(219,219,219,1) 34%,rgba(254,254,254,1) 62%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=0 ); /* IE6-9 */
}
/*align the result data*/
td.label{
    width: 45em;
}
td.value{
    width: 45em;
}
/*http://stackoverflow.com/questions/18838964/add-bootstrap-glyphicon-to-input-box*/
/* enable absolute positioning */
.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .glyphicon {
    position: absolute;
    padding: 10px;
    pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { 
    right: 0px;
}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { 
    padding-right: 10px;
}
/*https://css-tricks.com/almanac/properties/s/scrollbar/*/
body::-webkit-scrollbar {
    width: 1em;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}important
#disease{
    margin-left: 5em;
    margin-right: 5em;
}
.back2results{
    color: #666666;
}
.back2results :hover{
    color: black;
    text-decoration: underline;
    cursor: pointer;
}
.clickTitle :hover{
    cursor:pointer;
}
#remove{   float:right;
           margin-left: 10em;
           margin-right: 1em;
           margin-top: 2em;
}
#extraPage{
    height: 50em;
}
#extraPage h2{
    text-align: center;
}
.examplePic{
    height:5em;
    padding-left: 5em;
}
.examplePic :hover{
    cursor: pointer;
}
.bigger{
    height:50em;
}
.examplePic1{
    height: 20em;
}
.text{ width: 30em;
       margin-top:1em;}
.highlighted{
    background-color: yellow;
}
highlight{
    float:right;
}
#warning{
    color: grey;
}
h4 {
    text-align: center;
    font-family:  'Hoefler Text', Georgia, 'Times New Roman', serif;
    text-transform: uppercase;
}
.centerAlignment {
    text-align: center;
}
#extraPage {
    overflow: auto;
    margin-bottom: 5em;
}
.caution {
    color: red;
}
div.tooltip-inner {
    max-width: 50em;
}
.closeSymptom{
    background-color: indianred;
    color: white;
    border-radius: 2px;
    width: 3em;
    border-color: indianred;
    border-style: solid;
}
.tab-pane {
    padding: 2em;
    background-color:rgba(255,255,255,0.7);
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    border-top-right-radius: 0.5em;
    border: 1px;
    border-left-color: grey;
    border-left-style: solid;
    border-right-color: grey;
    border-right-style: solid;
    border-bottom-color: grey;
    border-bottom-style: solid;
    margin-bottom: 2em;
}
.tab{
    height: 3em;
    border-top-style: solid !important;
    border-left-style: solid !important;
    border-right-style: solid !important;
    border-top-color: grey !important;
    border-left-color: grey !important;
    border-right-color: grey !important;
}
.ui-autocomplete {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 15em;
}
